In [2]:
import cv2
import numpy as np
import face_recognition

# Load employee face encodings
employee_image = face_recognition.load_image_file("suneo.jpg")
employee_face_encoding = face_recognition.face_encodings(employee_image)[0]

# Initialize some variables
face_locations = []
face_encodings = []
employee_present = False

# Start video capture
video_capture = cv2.VideoCapture(0)

while True:
    # Grab a single frame of video
    ret, frame = video_capture.read()

    # Convert the image from BGR color (which OpenCV uses) to RGB color (which face_recognition uses)
    rgb_frame = frame[:, :, ::-1]

    # Find all the faces and face encodings in the current frame of video
    face_locations = face_recognition.face_locations(rgb_frame)
    face_encodings = face_recognition.face_encodings(rgb_frame, face_locations)

    # Loop through each face in this frame of video
    for (top, right, bottom, left), face_encoding in zip(face_locations, face_encodings):
        # See if the face is a match for the employee
        matches = face_recognition.compare_faces([employee_face_encoding], face_encoding)

        # If there is a match, set employee_present to True
        if True in matches:
            employee_present = True

        # Draw a box around the face
        cv2.rectangle(frame, (left, top), (right, bottom), (0, 0, 255), 2)

    # Display the resulting image
    cv2.imshow('Video', frame)

    # If the employee is present, print a message and break out of the loop
    if employee_present:
        print("Employee is present")
        break

    # If the 'q' key is pressed, quit
    if cv2.waitKey(1) & 0xFF == ord('q'):
        break

# Release handle to the webcam
video_capture.release()
cv2.destroyAllWindows()

ModuleNotFoundError: No module named 'face_recognition'

In [3]:
import dlib  
from PIL import Image  
import numpy  
import argparse  

parser = argparse.ArgumentParser()  
parser.add_argument('image_path', type=str, help='path to image file')  
parser.add_argument('--use_cnn_detector', help='Force to use CNN detector, default detector is the classical one', action='store_true')  

if __name__ == '__main__':  
    # Get path to image from arguments  
    args = parser.parse_args()  
    image_path = args.image_path  

    # Decide which detector to use, default is to use classical detector  
    if args.use_cnn_detector:  
        detector_model_path = './model_data/mmod_human_face_detector.dat'  
        face_detector = dlib.cnn_face_detection_model_v1(detector_model_path)  
    else:  
        face_detector = dlib.get_frontal_face_detector()  

    # Read image from file  
    image = numpy.array(Image.open(image_path))  

    # Run face detector and output bounding boxes  
    dets = face_detector(image, 1)  

    # Display results  
    win = dlib.image_window()  

    print("Number of faces detected: {}".format(len(dets)))  
    if args.use_cnn_detector:  
        for i, d in enumerate(dets):  
            print("Detection {}: Left: {} Top: {} Right: {} Bottom: {} Confidence: {}".format(  
                i, d.rect.left(), d.rect.top(), d.rect.right(), d.rect.bottom(), d.confidence))  

        rects = dlib.rectangles()  
        rects.extend([d.rect for d in dets])  
    else:  
        for i, d in enumerate(dets):  
            print("Detection {}: Left: {} Top: {} Right: {} Bottom: {}".format(  
                i, d.left(), d.top(), d.right(), d.bottom()))  

        rects = dets  

    win.clear_overlay()  
    win.set_image(image)  
    win.add_overlay(rects)  
    dlib.hit_enter_to_continue()

ModuleNotFoundError: No module named 'dlib'

In [19]:
import pandas as pd
import numpy as ny

frame=pd.DataFrame(np.random.randn(4,3),index=[1,2,4,7],columns=['A','B','C'])
#điền giá trị NaN cho các ô giá trị trống
frame.reindex([1,2,3,4,5,6,7])

          A         B         C
1  1.640243  0.066926  1.180898
2 -1.714214  0.646366 -0.682089
3       NaN       NaN       NaN
4 -1.622571 -0.784618 -0.956132
5       NaN       NaN       NaN
6       NaN       NaN       NaN
7  0.043637 -0.754547  0.862791

In [5]:
frame = frame.reindex([1,2,3,4,5,6,7])

In [20]:
a = frame

In [7]:
frame['B'].isnull()

1    False
2    False
3     True
4    False
5     True
6     True
7    False
Name: B, dtype: bool

In [9]:
frame.dropna()

          A         B         C
1 -0.024343 -0.337410 -0.398295
2 -1.635712 -0.465271  0.033720
4 -1.306803  0.113847 -1.971290
7 -0.911180  0.988438 -1.481609

In [25]:
from numpy import NaN
#thay thế giá trị NaN bằng 0.00
frame.replace({NaN:3})

          A         B         C
1  1.640243  0.066926  1.180898
2 -1.714214  0.646366 -0.682089
4 -1.622571 -0.784618 -0.956132
7  0.043637 -0.754547  0.862791

In [12]:
frame.shape

(7, 3)

In [16]:
frame.size

12

In [23]:
a.isnull()

       A      B      C
1  False  False  False
2  False  False  False
4  False  False  False
7  False  False  False

In [26]:
frame

          A         B         C
1  1.640243  0.066926  1.180898
2 -1.714214  0.646366 -0.682089
4 -1.622571 -0.784618 -0.956132
7  0.043637 -0.754547  0.862791